<%= render 'nav_bar', text: t('app.menu.edit_citizen') %>

<div class="container mt-5">
    <%= render 'form', citizen: @citizen %>
    <%= link_to t('app.menu.back'), citizens_path, class: "btn btn-danger text-white m-2" %>
</div>


