<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @citizen.first_name %></h1>
    <p>
      Seus dados de cadastros foram alterados
    </p>
  </body>
</html>