<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem vindo ao OM30, <%= @citizen.first_name %></h1>
    <p>
      Você foi cadastrado com sucesso
    </p>
  </body>
</html>
